@import "./base/colors";
@import "./utils/mixins";
@import "./components/button";
@import "./layouts/footer";

body{
    margin: 0 auto;
    width: 100%;
    color: black;
    font-family: 'Roboto', sans-serif;
}
#main_page
{
    max-width: 1200px;
}
/****header*****/
header img{
    display: block;
    margin: 20px auto;
    width: 180px;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{
header img{
    width: 200px;
    }
}
/*****Section presentation du site*****/
.presentation_linear_gradient{
    background: $color-localisation-top;
    height: 5px;
}
.localisation_restaurants {
    display: flex;
    justify-content: center;
    background-color: $color-localisation-back;
        .fas{
            margin-right: 10px;
        }
        .localisation{
            font-size: 1em;
            font-weight: 500;
            border: none;
            text-align: left;
            background-color: transparent;
        }
}
.concept{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fonctionnement-back;
    padding: 40px 0px;

    .titre_concept{
        @include titre_accueil;
        text-align: center;
    }
    & p{
        font-size: 1.1em;        
        font-weight: 200;
        text-align: center;
        width: 75%;
    }
    .btn.pres_restaurants a{       
        text-decoration: none;
        color: white;
    }
}
/*responsive mobile*/
@media all and (max-width: 667px)
{

}
/*section fonctionnement du site*/
#fonctionnement_site{
    padding: 30px 30px;
}
.titre1_accueil{
    @include titre_accueil;
    padding: 20px 0px;
}
.fonctionnement{
    display: flex;
    flex-direction: column;
}
.btn_fonctionnement{
    width: 80%;
    display: flex;
    justify-content: center;
}
/*responsive mobile*/
@media all and (max-width: 667px)
{

}

/*section restaurants*/
/*responsive mobile*/
#presentation_restaurants_cartes{
    display: flex;
    flex-direction: column;
}
.carte_restaurant{
    display: flex;
    flex-direction: column;
}
.carte_restaurant_photo img{
    width: 200px;
    height: 150px;
}