/* Error: $color: #FF79DA 0% is not a color.
 *    ,
 * 13 |     background: linear-gradient(180deg, lighten(($color-secondary)0%,10%), lighten(($color-primary)100%), 10%);
 *    |                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass/utils/_mixins.scss 13:41       button-hover()
 *   sass/components/_button.scss 15:13  @import
 *   sass/style.scss 3:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: #FF79DA 0% is not a color.\a    \2577 \a 13 \2502      background: linear-gradient(180deg, lighten(($color-secondary)0%,10%), lighten(($color-primary)100%), 10%);\a    \2502                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass/utils/_mixins.scss 13:41       button-hover()\a   sass/components/_button.scss 15:13  @import\a   sass/style.scss 3:9                 root stylesheet";
}
