/******************Accueil***************/
@keyframes menu_apparition {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  30% {
    transform: translateY(4px);
  }
  65% {
    transform: translateY(2.5px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes button_like_fill {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    background-position: center 70%;
  }
  20% {
    background-position: center 62%;
  }
  40% {
    background-position: center 60%;
  }
  60% {
    background-position: center 58%;
  }
  80% {
    background-position: center 50%;
  }
  99.9% {
    opacity: 1;
    z-index: 2;
    /**The loading spinner has to stay until the end of the animation**/
    transform: rotateY(740deg);
  }
  100% {
    background-position: center 40%;
    opacity: 0;
    z-index: -10;
  }
}
@keyframes page_loader {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
    z-index: 2;
    /**The white page has to stay until the loading spinner disappear**/
  }
  100% {
    z-index: -11;
    opacity: 0;
  }
}
@keyframes dish_card_circle_translate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-99%);
  }
}
@keyframes dish_card_circle_rotate {
  0% {
    transform: rotate(360deg);
  }
  20% {
    transform: rotate(180deg);
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
.loader {
  font-family: "Shrikhand", sans-serif;
  font-size: 4em;
  -webkit-text-stroke: 2px black;
  -webkit-text-fill-color: transparent;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  margin: 0;
  background-clip: text;
  -webkit-background-clip: text;
  /**For Chrome**/
  background-image: linear-gradient(to top, #99E2D0 60%, transparent 40%);
  background-size: 1% 40%;
  animation: loader 5000ms 100ms forwards ease-in-out;
  -webkit-animation: loader 5000ms 100ms forwards ease-in-out;
  opacity: 1;
}

.page {
  display: flex;
  background: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: 0;
  animation: page_loader 5100ms forwards;
  -webkit-animation: page_loader 5100ms forwards;
}

/****main button****/
.button {
  background: #FF79DA;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  font-family: "Roboto", sans-serif;
  padding: 16px 20px;
  border-radius: 30px;
  box-shadow: #d1d1d1 3px 5px 7px;
  font-size: 1em;
  border: none;
  text-align: center;
  width: 180px;
  cursor: pointer;
  color: white;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  /**Lightened color on hover**/
}
.button:hover, .button :focus, .button :active {
  filter: brightness(120%);
  cursor: grab;
  box-shadow: #6b6b6b 3px 5px 7px;
}
.button .pres_restaurants {
  margin: 15px 0px;
}

/****button functionnalities****/
.button_functionalities {
  display: flex;
  justify-content: center;
  box-shadow: #d1d1d1 2px 5px 20px;
  border-radius: 20px;
  padding: 15px 20px;
  background-color: #F6F6F6;
  text-align: left;
  position: relative;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  width: 25%;
  margin: 0 20px;
  /**Primary color on hover**/
}
.button_functionalities a {
  text-decoration: none;
}
.button_functionalities .button_choice {
  background: transparent;
  border: none;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}
.button_functionalities .fas {
  margin: 15px;
  color: #9e9e9e;
  font-size: 1.2em;
}
.button_functionalities .number_button_functionalities {
  position: absolute;
  top: 35%;
  left: -10px;
  background-color: #9356DC;
  color: white;
  padding: 4px 8.5px;
  border-radius: 50px;
  font-size: 0.9em;
}
.button_functionalities_instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
}
.button_functionalities:hover, .button_functionalities :focus, .button_functionalities :active {
  cursor: grab;
  background-color: #f2eafb;
}
.button_functionalities:hover .fas, .button_functionalities :focus .fas, .button_functionalities :active .fas {
  color: #9356DC;
}

/*Responsive tablette*/
@media all and (max-width: 1000px) {
  .button_functionalities .number_button_functionalities {
    top: -10px;
    left: 45%;
  }
  .button_functionalities .button_functionalities_instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media all and (max-width: 764px) {
  .button_functionalities {
    width: 90%;
    margin: 15px 0px;
  }
  .button_functionalities .number_button_functionalities {
    top: 35%;
    left: -10px;
  }
  .button_functionalities .button_functionalities_instruction {
    flex-direction: row;
  }
}
/****like button****/
.button_like {
  display: flex;
  align-items: center;
}

.fas.fa-heart {
  -webkit-text-stroke: 1px black;
  font-size: 1.5em;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  color: transparent;
}
.fas.fa-heart::after {
  /****Button creation without modifying html for a background-color appearance on hover****/
  content: "\f004";
  position: absolute;
  align-items: center;
  background-image: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}
.fas.fa-heart:hover, .fas.fa-heart :focus, .fas.fa-heart :active {
  cursor: grab;
}
.fas.fa-heart:hover::after, .fas.fa-heart :focus::after, .fas.fa-heart :active::after {
  animation: button_like_fill 3000ms 100ms forwards ease-in-out;
  -webkit-animation: button_like_fill 3000ms 100ms forwards ease-in-out;
}

footer {
  background-color: #353535;
  padding-left: 15%;
  padding-top: 15px;
  padding-bottom: 25px;
}
footer .logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.1em;
  color: white;
  padding-bottom: 10px;
}
footer .fas {
  color: white;
  font-size: 0.8em;
  margin-right: 5px;
}
footer .fas.fa-hands-helping {
  font-size: 0.7em;
  margin-right: 2px;
}
footer a {
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: 350;
}
footer p {
  margin: 5px 0px;
}

.footer {
  display: flex;
  justify-content: flex-start;
}
.footer_block.last {
  padding-left: 30%;
}

/*responsive mobile*/
@media all and (max-width: 667px) {
  .footer {
    display: block;
  }

  .footer_block.last {
    padding-left: 20px;
  }
}
/******************Page Menu***************/
.header_menu {
  position: relative;
}
.header_menu .fa-arrow-left {
  position: absolute;
  font-size: 1.2em;
  top: 30%;
  left: 5%;
}
.header_menu a {
  text-decoration: none;
  color: black;
}

/****** section presentation_menu ******/
#container_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  top: 250px;
  padding-bottom: 30px;
}

#presentation_menu img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.presentation_menu_name_restaurant {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  width: calc(100% - 40px);
  /**Width decreased by padding inline**/
  background-color: #F6F6F6;
  margin-top: -35px;
  border-radius: 35px 35px 0px 0px;
}
.presentation_menu_name_restaurant h1 {
  font-family: "Shrikhand", sans-serif;
  padding: 0;
  font-size: 1.9em;
  width: 60%;
}

.menu_restaurant {
  padding: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
}
.menu_restaurant h2 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.menu_restaurant p {
  text-align: center;
}

.underline {
  border-top: 2px solid #99E2D0;
  width: 35px;
  margin-bottom: 15px;
}

.menu {
  margin: 0px 0px 15px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dish_block {
  display: flex;
  flex-direction: column;
  width: 60%;
  /**Slow & slight apparition of the 3 blocks from bottom to top**/
}
.dish_block.entree {
  animation: menu_apparition 2500ms 200ms both ease-in-out;
  -webkit-animation: menu_apparition 2500ms 200ms both ease-in-out;
}
.dish_block.meal {
  animation: menu_apparition 2500ms 2600ms both ease-in-out;
  -webkit-animation: menu_apparition 2500ms 2600ms both ease-in-out;
}
.dish_block.dessert {
  animation: menu_apparition 2500ms 5000ms both ease-in-out;
  -webkit-animation: menu_apparition 2500ms 5000ms both ease-in-out;
}

.dish_card {
  border-radius: 15px;
  margin: 15px 15px;
  height: 74px;
  display: flex;
  box-shadow: #d1d1d1 2px 5px 20px;
  box-sizing: content-box;
  overflow: hidden;
  z-index: 1;
  /**Reduced width to make appear the check box on the right**/
  /**Apparition of the check box with a rotating icon**/
}
.dish_card:hover .dish, .dish_card :focus .dish, .dish_card :active .dish, .dish_card :active .dish {
  width: 80%;
}
.dish_card_box {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 74px;
}
.dish_card_box .fa-check-circle {
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  color: white;
  font-size: 1.4em;
  position: absolute;
  right: -15%;
  top: 0px;
  height: 74px;
  width: 15%;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.dish_card .dish {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 0px;
  z-index: 1;
  width: 100%;
  height: 74px;
  box-sizing: border-box;
  position: absolute;
  transform-origin: left;
  transition: width 900ms ease-in-out;
  -webkit-transition: width 900ms ease-in-out;
}
.dish_card .dish_name {
  min-width: 75%;
  position: sticky;
  display: block;
}
.dish_card .dish_name p {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish_card .dish_price {
  display: block;
  font-weight: 500;
  font-size: 0.9em;
  background: #F6F6F6;
  padding: 0px 0px 0px 5px;
  align-self: flex-end;
  min-width: 30px;
}
.dish_card p {
  margin: 5px 0px 0px 0px;
  font-weight: 300;
  font-size: 0.8em;
}
.dish_card .span {
  font-weight: 500;
  font-size: 1em;
}
.dish_card:hover, .dish_card :focus, .dish_card :active, .dish_card :active {
  cursor: grab;
}
.dish_card:hover .fa-check-circle, .dish_card :focus .fa-check-circle, .dish_card :active .fa-check-circle, .dish_card :active .fa-check-circle {
  animation: dish_card_circle_translate 1000ms both ease-in-out;
  -webkit-animation: dish_card_circle_translate 1000ms both ease-in-out;
}
.dish_card:hover .far.fa-check-circle::before, .dish_card :focus .far.fa-check-circle::before, .dish_card :active .far.fa-check-circle::before, .dish_card :active .far.fa-check-circle::before {
  transform: rotate(1080deg);
  transition: transform 1000ms ease-in-out;
  -webkit-transition: transform 1000ms ease-in-out;
}

/*responsive tablette*/
@media all and (max-width: 1044px) {
  .dish_block {
    width: 70%;
  }
}
/*responsive mobile*/
@media all and (max-width: 764px) {
  .presentation_menu_name_restaurant {
    justify-content: space-between;
  }

  .menu_restaurant {
    align-items: flex-start;
  }
  .menu_restaurant:last-child {
    align-items: center;
  }

  .underline {
    margin-bottom: 5px;
  }

  .dish_card .dish {
    padding: 10px 15px;
  }

  .presentation_menu_name_restaurant h1 {
    font-size: 1.6em;
  }

  .menu_restaurant h2 {
    font-size: 0.9em;
  }
}
@media all and (max-width: 647px) {
  .dish_block {
    width: 90%;
  }
}
body {
  margin: 0 auto;
  width: 100%;
  color: black;
  font-family: "Roboto", sans-serif;
}

#main_page {
  margin: 0 auto;
}

/****header*****/
header img {
  display: block;
  margin: 20px auto;
  width: 200px;
}

/*****Section website presentation*****/
.presentation_linear_gradient {
  background: linear-gradient(180deg, #cfcfcf 0%, #e6e6e6 100%);
  height: 5px;
}

.localisation_restaurants {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
.localisation_restaurants .fas {
  margin-right: 10px;
}
.localisation_restaurants .localisation {
  font-size: 1em;
  font-weight: 500;
  border: none;
  text-align: left;
  background-color: transparent;
}

.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 40px 0px;
}
.concept h1 {
  font-weight: 600;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.concept p {
  font-size: 1.1em;
  font-weight: 200;
  text-align: center;
  width: 75%;
}
.concept .button.pres_restaurants a {
  text-decoration: none;
  color: white;
}

/****section functionalities of the website****/
#website_functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

h1 {
  font-weight: 600;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.6em;
  padding: 0px 20px;
}

.functionalities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 1600px;
  padding: 0px 15px;
  box-sizing: border-box;
}

/*responsive mobile*/
@media all and (max-width: 764px) {
  .functionalities {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/****section restaurants****/
#presentation_restaurants {
  padding: 60px 0px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation_restaurants_cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px;
  max-width: 1600px;
  width: 100%;
}

h1 {
  font-weight: 600;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 20px;
}

.block_carte_restaurant {
  margin: 25px;
  width: 40%;
}
.block_carte_restaurant a {
  text-decoration: none;
  font-size: 1em;
  color: black;
  font-weight: 300;
}

.carte_restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #d1d1d1 2px 5px 20px;
  margin: 15px 0px;
  padding: 0;
  position: relative;
  width: auto;
  border-radius: 15px 15px 15px 15px;
  transform: scale(1);
  transition: all 400ms;
  -webkit-transition: all 400ms;
  /**Slightly magnifying animation on hover**/
}
.carte_restaurant img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.carte_restaurant .icon_new {
  position: absolute;
  font-size: 0.9em;
  font-weight: 600;
  color: #278870;
  background-color: #c1ede2;
  padding: 7px 10px;
  top: 15px;
  right: 10px;
}
.carte_restaurant .carte_restaurant_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  width: 90%;
  border-radius: 0px 0px 15px 15px;
}
.carte_restaurant .carte_restaurant_infos h2 {
  font-weight: 600;
  font-size: 1em;
  margin: 0px 0px 5px 0px;
}
.carte_restaurant .carte_restaurant_infos p {
  margin: 0;
}
.carte_restaurant:hover, .carte_restaurant :focus, .carte_restaurant :active {
  transform: scale(1.04);
  transition: transform 400ms;
  -webkit-transition: transform 400ms;
  box-shadow: #6b6b6b 3px 5px 7px;
}

/*responsive mobile*/
@media all and (max-width: 847px) {
  #presentation_restaurants_cartes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .block_carte_restaurant {
    margin: 10px;
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
