.btn{
    background: $color-secondary;
    background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
    font-family: 'Roboto', sans-serif;
    padding: 16px 20px;
    border-radius: 30px;
    box-shadow: $color-btn-shadow 3px 5px 7px;
    font-size: 1em;
    font-weight: 400;
    border: none;
    text-align: center;
    width: 180px;
    color: white;
}

.btn_fonctionnement{
    display: flex;
    margin: 15px 0px;
    box-shadow: $color-btn-shadow 2px 5px 20px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: $color-concept-back;
    text-align: left;
    position: relative;

    & .btn_choix{
        background: transparent;
        border: none;
        font-size: 1em;
        font-weight: 600;
    }

    .fas{
        margin: 15px;
        color: $color-btn-fas;
        font-size: 1.2em;
    }

    & .num_btn_fonctionnement{
        position: absolute;
        top: 35%;
        left: -10px;
        background-color: $color-primary;
        color: white;
        padding: 4px 8.5px;
        border-radius: 50px;
        font-size: 0.9em;
    }
}