.button{
    @include button;
    font-family: 'Roboto', sans-serif;
    padding: 16px 20px;
    border-radius: 30px;
    box-shadow: $color-button-shadow 3px 5px 7px;
    font-size: 1em;
    border: none;
    text-align: center;
    width: 180px;
    cursor: pointer;
    
    &:hover{
        filter: brightness(120%);
        cursor: grab;
        box-shadow: darken($color-button-shadow, 40%) 3px 5px 7px;
    }
    .pres_restaurants{
        margin: 15px 0px;
    }
}

.button_functionalities{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 15px 0px;
    box-shadow: $color-button-shadow 2px 5px 20px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: $color-functionalities-back;
    text-align: left;
    position: relative;

    & a{
        text-decoration: none;
    }
    & .button_choice{
        background: transparent;
        border: none;
        font-size: 1em;
        font-weight: 600;
    }

    .fas{
        margin: 15px;
        color: $color-button-fas;
        font-size: 1.2em;
    }

    & .number_button_functionalities{
        position: absolute;
        top: 35%;
        left: -10px;
        background-color: $color-primary;
        color: white;
        padding: 4px 8.5px;
        border-radius: 50px;
        font-size: 0.9em;
    }
    &:hover{
        cursor: grab;
        background-color: lighten($color-primary, 35%);
        .fas{
            color: $color-primary;
        }
    }
}
/*like button*/
.fa-heart:hover{
    cursor: grab;
    @include heart_hover;
}