/****main button****/
.button{
    @include button;
    font-family: 'Roboto', sans-serif;
    padding: 16px 20px;
    border-radius: 30px;
    box-shadow: $color-button-shadow 3px 5px 7px;
    font-size: 1em;
    border: none;
    text-align: center;
    width: 180px;
    cursor: pointer;
    color: white;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    /**Lightened color on hover**/
    &:hover{
        filter: brightness(120%);
        cursor: grab;
        box-shadow: darken($color-button-shadow, 40%) 3px 5px 7px;
    }
    .pres_restaurants{
        margin: 15px 0px;
    }
}
/****button functionnalities****/
.button_functionalities{
    display: flex;
    justify-content: center;
    box-shadow: $color-button-shadow 2px 5px 20px;
    border-radius: 20px;
    padding: 15px 20px;
    background-color: $color-functionalities-back;
    text-align: left;
    position: relative;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    width: 25%;
    margin: 0 20px;

    & a{
        text-decoration: none;
    }
    & .button_choice{
        background: transparent;
        border: none;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
    }
    .fas{
        margin: 15px;
        color: $color-button-fas;
        font-size: 1.2em;
    }
    & .number_button_functionalities{
        position: absolute;
        top: 35%;
        left: -10px;
        background-color: $color-primary;
        color: white;
        padding: 4px 8.5px;
        border-radius: 50px;
        font-size: 0.9em;
    }
    &_instruction{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: black;
    }
    /**Primary color on hover**/
    &:hover{
        cursor: grab;
        background-color: lighten($color-primary, 35%);
        .fas{
            color: $color-primary;
        }
    }
}
/*Responsive tablette*/
@media all and (max-width: 1000px){
.button_functionalities{
    & .number_button_functionalities{
        top: -10px;
        left: 45%;
    }
    & .button_functionalities_instruction{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
}
@media all and (max-width: 764px){
.button_functionalities{
    width: 90%;
    margin: 15px 0px;

    & .number_button_functionalities{
        top: 35%;
        left: -10px;
    }
    & .button_functionalities_instruction{
        flex-direction: row;
    }
}   
}
/****like button****/
.button_like{
    display: flex;
    align-items: center;
}
.fas.fa-heart{
    -webkit-text-stroke: 1px black;
    font-size: 1.5em;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    color: transparent;
    
    &::after{/****Button creation without modifying html for a background-color appearance on hover****/
        content: '\f004';
        position: absolute;
        align-items: center;
        @include heart_fill;
        opacity: 0;
    }
    &:hover{
        cursor: grab;
        &::after{
            animation: button_like_fill 3000ms 100ms forwards ease-in-out;
            -webkit-animation: button_like_fill 3000ms 100ms forwards ease-in-out;
        }
    }
}