.loader{
    font-family: 'Shrikhand', sans-serif;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    position: absolute;
    z-index: 2;
    background-color: $color-tertiary;
    background-clip: text;
    transform-origin: bottom;
    animation: loader 6000ms 200ms both (cubic-bezier(.15,.64,.56,.33));
}