.loader{
    opacity: 0;
    font-family: 'Shrikhand', sans-serif;
    font-size: 5em;
    color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: $color-functionalities-back;
    animation: loader 1500ms 200ms both (cubic-bezier(.15,.64,.56,.33)) 2;
}