/******************Page Menu***************/
.header_menu{
    position: relative;
    .fa-arrow-left{
        position: absolute;
        font-size: 1.2em;
        top: 30%;
        left: 5%;
    }
    & a{
        text-decoration: none;
        color: black;
    }
}
/****** section presentation_menu ******/
#container_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-functionalities-back;
    width: 100%;
    top: 250px;
    padding-bottom: 30px;
}
#presentation_menu img{
        width: 100%;
        height: 260px;
        object-fit: cover;
}
.presentation_menu_name_restaurant{
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    width: calc(100% - 40px);
    background-color: $color-functionalities-back;
    margin-top: -30px;
    border-radius: 35px 35px 0px 0px;

    & h1{
        font-family: 'Shrikhand', sans-serif;
        padding: 0;
        font-size: 1.9em;
        width: 60%;
    }
}
.menu_restaurant{
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    
    & h2{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    & p{
        text-align: center;
    }
}
.underline{
    border-top: 2px solid $color-tertiary;
    width: 35px;
    margin-bottom: 15px;
}
.menu{
    margin: 0px 0px 15px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.dish_block{
    display: flex;
    flex-direction: column;
    width: 60%;

    &.entree{
    animation: menu_apparition 2500ms 200ms both ease-in-out;
    }

    &.meal{
    animation: menu_apparition 2500ms 2600ms both ease-in-out;
    }

    &.dessert{
    animation: menu_apparition 2500ms 5000ms both ease-in-out;
    }
}
.dish_card{
    border-radius: 15px;
    margin: 15px 15px;
    height: 74px;
    display: flex;
    box-shadow: $color-button-shadow 2px 5px 20px;
    box-sizing:content-box;
    overflow: hidden;
    z-index: 1;

    &:hover{
        .dish{
            width: 80%;
    }
}

    &_box{
        width: 100%;
        position: relative;
        overflow: hidden;
        z-index: 1;
        height: 74px;

        & .fa-check-circle{
            background-color: $color-tertiary;
            border-radius: 0px 15px 15px 0px;
            display: flex;
            color: white;
            font-size: 1.4em;
            position: absolute;
            right: -15%;
            top: 0px;
            height: 74px;
            width: 15%;
            align-items: center;
            justify-content: center;
            z-index: 6;
        }
    }
    & .dish{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-functionalities-back;
        border-radius: 15px;
        padding: 15px 20px;
        margin: 0px;
        z-index: 1;
        width: 100%;
        height: 74px;
        box-sizing: border-box;
        position: absolute;
        transform-origin: left;
        transition: width 900ms ease-in-out;

        &_name{
            min-width: 75%;
            position: sticky;
            display: block;
            & p{
                text-align: left;
                text-overflow: ellipsis;
            
            overflow: hidden;
            white-space: nowrap;
            
            }
        }
    &_price{
        display: block;
        font-weight: 500;
        font-size: 0.9em;
        background: $color-functionalities-back;
        padding: 0px 0px 0px 5px;
        align-self: flex-end;
        min-width: 30px;
    }
}
    & p{
        margin: 5px 0px 0px 0px;
        font-weight: 300;
        font-size: 0.8em;
    }
    & .span{
        font-weight: 500;
        font-size: 1em;
    }
    &:hover{
        cursor: grab;
        
        & .fa-check-circle{
            animation: dish_card_circle_translate 1000ms both ease-in-out;
        }
        & .far.fa-check-circle::before{
            transform: rotate(1080deg);
            transition: transform 1000ms ease-in-out;
        }
    }
}
/*responsive desktop*/
@media all and (max-width: 1200px)
{

}
/*responsive tablette*/
@media all and (max-width: 1044px)
{
.dish_block{
    width: 70%;
}
}
/*responsive mobile*/
@media all and (max-width: 764px)
{
.presentation_menu_name_restaurant{
        justify-content: space-between;
}
.menu_restaurant{
    align-items: flex-start;

    &:last-child{
    align-items: center;
    }
}
.underline{
    margin-bottom: 5px;
}
.dish_card{
    .dish{
    padding: 10px 15px;
    }
}
.presentation_menu_name_restaurant h1{
    font-size: 1.6em;
}
.menu_restaurant h2{
    font-size: 0.9em;
}
}
@media all and (max-width: 647px)
{
.dish_block{
    width: 80%;
}
}