@keyframes menu_apparition{
    0%{
        transform: translateY(3px);
        opacity: 0;
    }
    30%{
        transform: translateY(2.5px);
    }
    65%{
        transform: translateY(2px);
        opacity: .6;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes button_like_fill{
    0%{
        translate: center 0px;
    }
    20%{
        translate: center 20px;
    }
    40%{
        translate: center 40px;
    }
    60%{
        translate: center 60px;
    }
    80%{
        translate: center 80px;
    }
    100%{
        translate: center 100px;
    }
}
@keyframes loader{
    0%{
        background-position: center 70%;
    }
    20%{
        background-position: center 62%;
    }
    40%{
        background-position: center 60%;
    }
    60%{
        background-position: center 58%;
    }
    80%{
        background-position: center 50%;
        transform: rotateY(0deg);
    }
    99.9%{
        opacity: 1;
        z-index: 2;
        transform: rotateY(740deg);
    }
    100%{
        background-position: center 40%;
        opacity: 0;
        z-index: -10;
    }
}
@keyframes page_loader{
    0%{
        opacity: 1;
    }
    99.9%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        z-index: -11;
        opacity: 0;
    }
}