@keyframes menu_apparition{
    0%{
        transform: translateY(3px);
        opacity: 0;
    }
    30%{
        transform: translateY(2.5px);
    }
    65%{
        transform: translateY(2px);
        opacity: .6;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes button_like_fill{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0.2;
    }
    40%{
        opacity: 0.4;
    }
    60%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loader{
    0%{
        background-position: center 70%;
    }
    20%{
        background-position: center 62%;
    }
    40%{
        background-position: center 60%;
    }
    60%{
        background-position: center 58%;
    }
    80%{
        background-position: center 50%;
        transform: rotateY(0deg);
    }
    99.9%{
        opacity: 1;
        z-index: 2;
        transform: rotateY(740deg);
    }
    100%{
        background-position: center 40%;
        opacity: 0;
        z-index: -10;
    }
}
@keyframes page_loader{
    0%{
        opacity: 1;
    }
    99.9%{
        opacity: 1;
        z-index: 2;
    }
    100%{
        z-index: -11;
        opacity: 0;
    }
}
@keyframes dish_animation_after{
    0%{
        width: 0%;
        border-radius: 0px 15px 15px 0px;
        right: 0;
    }
    100%{
        width: 25%;
        border-radius: 0px 15px 15px 0px;
        right: -25%;
    }
}
@keyframes dish_animation{
    0%{
        border-radius: 15px 0px 0px 15px;
        width: 100%;
    }
    100%{
        border-radius: 15px 0px 0px 15px;
        width: 80%;
    }
}
@keyframes dish_card_circle_animation{
    0%{
        color: violet;
        opacity: 1;
        transform: translateX(-20%);
    }
    100%{
        color: violet;
        opacity: 1;
        transform: translateX(0%);

    }
}