@mixin h1{
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
}
@mixin button{
    background: $color-secondary;
    background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
}
@mixin heart_fill{
    background-image: linear-gradient(to bottom, $color-primary 0%, $color-secondary 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}