@mixin h1{
    font-size: 1.6em;
    font-weight: 600;
    width: 70%;
    margin: 0;
}
@mixin button{
    background: $color-secondary;
    background: linear-gradient(180deg, $color-secondary 0%, $color-primary 100%);
}
@mixin heart_fill{
    background: (linear-gradient(180deg, $color-primary 0%, $color-secondary 100%)) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}